<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="desk0018"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Desk0018"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".FirstSplashActivity"
            android:exported="false" />
        <activity
            android:name=".Topmenu.EtcActivity"
            android:exported="false" />
        <activity
            android:name=".Users.UserDetailActivity"
            android:exported="false" />
        <activity
            android:name=".Tag.WebViewActivity"
            android:exported="false" />
        <activity
            android:name=".Topmenu.Multitap"
            android:exported="false" />
        <activity
            android:name=".Topmenu.Table"
            android:exported="false" />
        <activity
            android:name=".Topmenu.Case"
            android:exported="false" />
        <activity
            android:name=".Topmenu.Lighting"
            android:exported="false" />
        <activity
            android:name=".Topmenu.Speaker"
            android:exported="false" />
        <activity
            android:name=".Topmenu.Monitor"
            android:exported="false" />
        <activity
            android:name=".Topmenu.Mouse"
            android:exported="false" />
        <activity
            android:name=".Topmenu.Keyboard"
            android:exported="false" />
        <activity
            android:name=".Mainpage"
            android:exported="false" />
        <activity
            android:name=".Users.Lostpassword"
            android:exported="false" />
        <activity
            android:name=".Users.Login"
            android:exported="false" />
        <activity
            android:name=".Users.Getmember"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>